.bg-white
	background: $color.white
.bg-dark
	background: $color.dark
.bg-blue
	background: $color.blue
.bg-yellow
	background: $color.yellow
.bg-orange
	background: $color.orange
.bg-dull
	background: $color.dull
.bg-gray
	background: $color.gray
.bg-bright
	background: $color.bright