.layout
	clearfix()
	&-column
		float: left
		width: 50%
		background: pink
		red
		&:first-child
			background: $color.blue
		&:last-child
			background: #E1E1E1
		&:last-child&--wide
			background: $color.dark
		&--narrow
			width: 36%
		&--wide
			width: 64%
			background: $color.dark



.block
	padding: 40px 13%
	clearfix()

	.layout-column--narrow &
		padding-left: (13/36*50)%
		padding-right: (13/36*50)%

	.layout-column--wide &
		padding-left: (13/64*50)%
		padding-right: (13/64*50)%
