.block
	padding: 40px 13%
	clearfix()


	.layout-column--slightlyLarger &
		padding-left: (13/53*50)%
		padding-right: (13/53*50)%

	.layout-column--slightlyLess &
		padding-left: (13/47*50)%
		padding-right: (13/47*50)%

	.layout-column--narrow &
		padding-left: (13/36*50)%
		padding-right: (13/36*50)%

	.layout-column--wide &
		padding-left: (13/64*50)%
		padding-right: (13/64*50)%

	.layout-column--general &
		padding-left: (13/80*50)%
		padding-right: (13/80*50)%

	.modal-window &
		padding: 20px 30px
