.color-white
	color: $color.white
	a&
		linkColor($color.white)
.color-dark
	color: $color.dark
	a&
		linkColor($color.dark)
.color-blue
	color: $color.blue
	a&
		linkColor($color.blue)
.color-yellow
	color: $color.yellow
	a&
		linkColor($color.yellow)
.color-orange
	color: $color.orange
	a&
		linkColor($color.orange)
.color-dull
	color: $color.dull
	a&
		linkColor($color.dull)
.color-gray
	color: $color.gray
	a&
		linkColor($color.gray)
.color-text
	color: $color.text
	a&
		linkColor($color.text)
.color-red
	color: $color.red
	a&
		linkColor($color.red)
