.errorpage
	background: $color.dull
	text-align: center
	&-logo
		display: block
		margin-top: -40px
	&-pic
		margin-top: 50px
	&-title
		margin-top: 40px
		font-weight: $font.xbold
		font-size: 24px
		text-transform: uppercase
		color: $color.blue
	&-subtitle
		color: $color.blue
		margin-top: 20px
		display: block
