.field
	display: inline-block
	appearance: none
	border: none
	background: $color.yellow
	color: $color.dark
	padding: 10px 20px
	font-size: $font.size + 4
	&--white
		background: $color.white
		color: $color.text
		font-size: $font.size
		&::placeholder
			font-style: italic
label
	font-size: $font.size