.footer
	position: absolute
	display: block
	bottom: 0
	left: 0
	right: 0
	// height: 200px
	font-size: 14px
	background: $color.blue
	color: $color.white
	overflow: hidden
	.layout-column--general &
		right: 305px
	&--static
		position: relative
	p
		display: block
		width: 110%
	&-meta
		overflow: hidden
		clearfix()
		margin-top: 15px
		padding-top: 3px
	&-copy
		float: left
		font-size: 12px
		font-style: italic
	&-dev
		display: block
		margin-top: -3px
		float: right
		font-size: 10px
		linkColor($color.white)
		span
			margin-top: 5px
			display: block