.footer
	font-size: 14px
	p
		display: block
		width: 110%
	&-meta
		overflow: hidden
		clearfix()
		margin-top: 15px
		padding-top: 3px
	&-copy
		float: left
		font-size: 12px
		font-style: italic
	&-dev
		display: block
		margin-top: -3px
		float: right
		font-size: 10px
		linkColor($color.white)
		span
			margin-top: 5px
			display: block