.rama
	height: 412px
	overflow: hidden
	opacity: 0
	transition: opacity 0.3s
	&.fotorama
		opacity: 1


.fotorama__nav-wrap
	position: absolute
	bottom: 0
	overflow: hidden

.fotorama__nav
	transition: transform .33s ease-in, opacity .33s ease-in
	transform: translate3d(0, 0, 0)
	opacity: 1
	margin: 0 10px

.fotorama__thumb-border
	border-color: #fff