.headerNav
	background: $color.blue
	overflow: hidden
	padding: 17px 0 0 7%
	height: 90px
	// font-weight: $font.bold
	font-size: 16px
	// font-size: 14px
	&-column
		float: left
		margin-right: 7%
		// margin-right: 3%
	a
		display: block
		margin-top: 5px
		linkColor(#fff)