.header
	height: 90px
	position: relative
	z-index: 2
	&-place
		position: absolute
		height: 90px
		&--menu
			left: 0
			width: 6.5%
		&--logo
			left: 6.5%
			width: 220px
		&--nav
			left: 6.5%
			margin-left: 220px
			right: 27%
		&--contacts
			right: 0
			width: 27%