.headerContacts
	background: $color.yellow
	height: 90px
	font-weight: $font.bold
	font-size: 16px
	line-height: 1.2
	padding: 17px 10% 0
	+media('max-width: 1300px')
		font-size: 15px
		padding-top: 18px
	+media('max-width: 1240px')
		font-size: 14px
		padding-top: 20px
	+media('max-width: 1160px')
		font-size: 13px
	a, .plink
		linkColor($color.text)
	&-popup
		// z-index: -1
		left: 0
		width: 100%
		padding: 0 10% 20px
		top: 100%
		background: $color.yellow
		position: absolute
		visibility: hidden
		opacity: 0
		transition: height 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s
		transform: translate3d(0, -30px, 0)
		&.is-visible
			visibility: visible
			opacity: 1
			transform: none
	&-row
		overflow: hidden
		margin-top: 7px
	&-left
		float: left
		max-width: 65%
		u
			display: inline
	&-right
		float: right
		width: 35%
		text-align: right
	&-tel
		max-width: none
		width: 50%