.header
	height: 90px
	position: relative
	z-index: 2
	&-place
		position: absolute
		height: 90px
		&--menu
			left: 0
			width: 90px
		&--logo
			left: 90px
			width: 220px
		&--nav
			left: 310px
			right: 27%
			z-index: 10
		&--contacts
			right: 0
			width: 27%