.layout
	clearfix()
	&-column
		float: left
		width: 50%
		position: relative
		&:first-child
			padding-bottom: 200px
		&--slightlyLarger
			width: 53%
		&--slightlyLess
			width: 47%
		&--narrow
			width: 36%
		&--wide
			width: 64%
		&--general
			// width: auto
			width: 100%
			padding-right: 305px
			position: relative
			margin-right: -305px
		&--aside
			width: 305px
			position: fixed
			top: 90px
			bottom: 0
			right: 0
			background-size: cover
			// margin-left: -100%
