
.media
	clearfix()
	&-date
		position: absolute
		margin-top: -27px
		font-style: italic
	&-pic
		width: 40%
		img
			width: 100%
	&-text
		overflow: hidden
	&--left &-pic
		float: left
		margin-right: 7%
	&--right &-pic
		margin-left: 7%
		float: right
