.plate
	display: block
	text-align: center
	font-size: 15px
	font-weight: $font.bold
	color: $color.text
	height: 90px
	background: #FFF
	&-pic
		display: inline-block
		width: 64px
		height: 64px
		vertical-align: top
		line-height: 64px
		span
			vertical-align: middle
	&-title
		display: block
		margin-top: -3px



