.program
	background: url('../images/wall-snow.jpg') no-repeat 100% 100%
	&-text
		width: 60%
		background: $color.white
		border: 10px solid $color.blue
		position: relative
		padding: 50px 30px
	&-angle
		position: absolute
		left: 100%
		top: 50%
		margin-top: -20px