.room
	&-header
		overflow: hidden
	&-title
		float: left
		width: 65%
	&-meta
		float: right
		width: 35%
		text-align: center
		z-index: 2
		position: relative
	&-cost
		font-size: 22px
		font-weight: $font.bold
		margin-top: -8px