.rotate
	display: block
	text-align: center
	background: $color.dark
	font-size: 15px
	font-weight: $font.bold
	color: $color.white
	padding: 15px 10px
	&-pic
		margin-top: -5px
		display: inline-block
		float: left
	&-title
		// display: block
		// margin-top: -3px



