table
	font-size: 12px
	border-collapse: collapse
	td, th
		text-align: left
		&:last-child
			padding-right: 0
	thead th
		border-bottom: 1px solid #B8B8B8
		vertical-align: bottom
		padding: 5px 10px 5px 0
	td
		padding: 5px 10px 5px 0
		vertical-align: top
	tbody th
		padding-top: 1em
		padding-bottom: 0
