.textBanner
	font-size: 18px
	font-weight: $font.bold
	+media('max-width: 1200px')
		font-size: 16px
	+media('max-width: 1100px')
		font-size: 15px
	+media('max-width: 1050px')
		font-size: 14px
	&-left
		float: left
	&-right
		float: right