.title, h1, h2, h3, h4
	margin-bottom: 0.5em
	font-weight: $font.bold
.title--xl, h1
	font-size: 30px
	font-weight: $font.xbold
	font-style: italic
.title--l, h2
	font-size: 24px
	font-weight: $font.xbold
	font-style: italic
.title--m, h3
	font-size: 18px
	line-height: 1.2em
.title--s, h4
	font-size: 14px
.title--xs, h5
	font-size: 14px
	font-weight: normal
	margin: 0