.winexplorer
	display: block
	text-align: center
	font-size: 12px
	font-weight: $font.bold
	&-pic
		display: block
		vertical-align: top
		line-height: 55px
		span
			vertical-align: top
	&-title
		display: block
		margin-top: -3px
		linkColor($color.blue)
		u
			display: inline



