doctype html
html lang="ru"
	= include 'partials/head.slim'
	body

		= include 'partials/modal-seasons-passes.slim'
		= include 'partials/modal-seasons-safe.slim'
		= include 'partials/modals.slim'
		= include 'partials/header.slim'





		.layout
			.constrain.bg-dull
				.layout-column.layout-column--slightlyLarger.bg-white style="padding-bottom: 0"
					.block.bg-white
						h1 О компании
						.sep
						p Спортивный клуб "Хабарское" – это популярный центр активного и семейного отдыха в Нижегородской области. Всего 45 минут от Нижнего Новгорода, и Вы попадаете в мир ярких приключений, великолепных пейзажей и отличного настроения! Не верите? Убедитесь сами!
						a href="#": img src="assets/images/video.jpg"
						small Ролик подготовлен командой профессиональных фотографов и видеооператоров NicePic Studio. Съемка и монтаж: Евгений Шамшура и Вячеслав Кирилов
						.sep
						.media.media--left.media--icon
							.media-pic style="padding-top: 5px": span.i-award1
							.media-text: em СК "Хабарское" признан лучшим объектом спортивного туризма Нижегородской области по итогам 2012 года!
						.sep
						.media.media--left.media--icon
							.media-pic style="padding-top: 5px": span.i-award2
							.media-text: em СК "Хабарское" признан лучшим объектом спортивного туризма Нижегородской области по итогам 2012 года!
						.sep
						h4 Для спортсменов и любителей горных лыж и сноуборда в спортивном клубе «Хабарское»:
						.sep
						ul
							li Детский горнолыжный городок - FREE-ZONE
							li Отдельная трасса для тюбинга с подъемником протяженностью - 150-200 м
							li Трасса для спуска на санях и снегокатах с подъемником протяженностью - 200 м
							li Зона учебного катания расширена до 400 м
							li 4 основных склона; трассы различного уровня сложности, подходящих как новичкам, так и экспертам (схема склонов).
							li протяженность трасс - от 400 м до 1000 м, максимальный перепад высот - 120 м. Крутизна склонов - 10-25 градусов, ширина склонов по фронту - 450 м;
							li с сезона 2011-2012 г. все трассы попадают в зону освещения, что позволяет наслаждаться катанием до 23:00 в выходные и до 22:00 в будние дни;
							li 2 трассы повышенной сложности с элементами ski-cross;
							li 2 "Учебных склона" с протяженностью трасс - до 200 м, шириной склонов - 100-200 м и "Детский склон" с системой подъема «baby lift» (эскалатор);
							li 3 буксировочных подъемника "Doppelmayer", учебные подъемники (БКДМ - 3 шт.);
							li модернизированная система искусственного снегообразования и постоянная работа мощных снегоуплотнительных машин (ратраков PistenBully), что обеспечивает гарантированный снежный покров в течение всего сезона (с декабря по апрель) и идеальное качество горнолыжных склонов, независимо от капризов погоды;
							li прокат горнолыжного снаряжения с системой электронного доступа (250 комплектов «Fischer», «Rossignol», «Atomic», «Elan»; топовые модели лыж категории Premium) и подбором снаряжения "под клиента", с учетом уровня катания, индивидуальных параметров веса и роста;
							li школа обучения    для детей  и   взрослых – начальное обучение и курсы повышения мастерства (карвинг);
							li ремонт и сервисное обслуживание горных лыж и сноубордов;
							li камеры хранения;
							li центр экипировки;
							li с сезона 2010-2011 г. запущена электронная система оплаты с автоматическим начислением бонусов.
						.sep
						div style="overflow: hidden"
							a.download.g-flLeft style="width: 30%; margin-right: 5%" href="#"
								span.download-pic: span.i-pdfDark
								span.download-title: u Правила пребывания на территории СК «Хабарское»
							a.download.g-flLeft style="width: 30%" href="#"
								span.download-pic: span.i-pdfDark
								span.download-title: u Как правильно пользоваться прокатным снаряжением



				.layout-column.layout-column--slightlyLess.bg-dull
					.block.bg-dull
						h1 Окрестности
						.switcher
							span.plink.switcher-item data-role="switchBlock" data-targets="a" data-target="a1": u Трек
							span.plink.switcher-item.is-active data-role="switchBlock" data-targets="a" data-target="a2": u Монастырь
							span.plink.switcher-item data-role="switchBlock" data-targets="a" data-target="a3": u Усадьба

						.sep.sep--l
						.switchBlock data-role="a a1"
							h2 Про трек
						.switchBlock.is-visible data-role="a a2"
							h2 Дудин монастырь
							p От красоты пейзажей, что открываются перед взором гостей спортивного клуба, перехватывает дыхание. А окрестности СК «Хабарское» имеют свою историю и полны загадок. Одна из таких достопримечательностей - Амвросиев Дудин монастырь, который не только является историческим и культурным достоянием жителей нижегородской области, но и, по приданию, считается святым местом.
							.media.media--left
								.media-pic: img src="assets/images/246.jpg"
								.media-text: small Из всех построек монастырского комплекса до наших дней сохранилась лишь малая часть. В год 600-летия Дудина монастыря эту древнюю обитель решили возродить. Уже летом 2009 года был освящен главный храм монастырского комплекса – Успенский. И это только начало новой жизни легендарного Дудина монастыря.
							.sep
							p Точная дата основания монастыря не известна. Впервые о нем было упомянуто в летописи 1445 года, в связи с освобождением великого князя Василия Васильевича Темного из плена. Дьяк князя Дмитрия Шемяки Федор Дубенский и мурза Бигич плыли по Оке от Мурома к Нижнему Новгороду. Услышали они об освобождении великого князя и возвратились от Дудина монастыря в Муром, где Бигич был взят под стражу наместниками князя Василия Ивановича. Из надписи на Евангелии, писанном на пергаменте и принадлежавшем Дудину монастырю, очевидно, что в 1408 году монастырь уже был обустроен и имел настоятелем игумена. Иван Грозный, которому предания приписывают его основание, родился в 1530 году. Некоторые историки предполагают, что основание обители относится к XIV-XV векам, когда в Нижнем Новгороде уже действовали Печерский, Благовещенский и Зачатьевский монастыри.
							.media.media--left
								.media-pic: img src="assets/images/239.jpg"
								.media-text: small С давних лет на откосе рядом с монастырем бьют два ключа. Один был освящен в честь Николая Угодника, а второй святой источник – во имя Сергия Радонежского. Этот родник был отмечен еще на плане XVII столетия.
							.sep
							p Еще в прошлом веке Архимандритом Макарием была составлена история мужского монастыря и объяснено его название. На берегу реки Оки была обретена чудотворная икона Николая Чудотворца и в честь этого события, на том месте, был возведен храм. Амвросиевым монастырь был назван по имени его основателя и первого строителя Амвросия, а вторая составляющая «Дудин» пришла от названия близлежащего села – Дуденево. По некоторым данным в этом месте жила семья богачей – Дуденевых, которые во многом посодействовали строительству обители.
							p Из всех построек монастырского комплекса до наших дней сохранилась лишь малая часть. Казалось, и восстанавливать нечего. Тем не менее в год 600-летия Дудина монастыря эту древнюю обитель решили возрождать. Уже летом 2009 года был освящен главный храм монастырского комплекса – Успенский. И это только начало новой жизни легендарного Дудина монастыря.

						.switchBlock data-role="a a3"
							h2 Про усадьбу
				.g-clear
		.layout
			.constrain
				img src="assets/images/history.jpg" style="width: 100%"
		.laytout
			.constrain
				.layout-column.layout-column--slightlyLarger.bg-white data-role="column"
					.block.bg-white
						h1 Схема проезда
						img src="assets/images/scheme.jpg"


					= include 'partials/footer.slim'

				.layout-column.layout-column--slightlyLess.bg-dull data-role="column"
					.block.bg-dull
						h1 Контактная информация
						h4 Адрес СК «Хабарское»:
						p 607614 Россия, Нижегородская обл., Богородский р-н, д. Хабарское, ул. Нагорная, 1
						h4 GPS-координаты СК «Хабарское»
						p N 56.18144 : E 43.43447

						h4 Размещение в гостинице (бронирование номеров)
						p Гостиница: (83170) 4-15-41<br>Бронирование номеров: +7 (910) 870-91-42

						h4 Администратор кассового павильона и проката
						p Тел.: +7 (910) 871-12-94

						h4 Адрес офиса в Нижнем Новгороде
						p 603089 Россия, г. Нижний Новгород, ул. Полтавская, д. 32 (третий этаж, офис 29)<br>Тел.: (831) 438-66-05, +7 (987) 531-00-00<br>Эл. почта:  pr@habarskoe.ru










				.g-clear





		= include 'partials/scripts.slim'


