doctype html
html lang="ru"
	= include 'partials/head.slim'
	body

		= include 'partials/modals.slim'
		= include 'partials/header.slim'



		.laytout
			.constrain.bg-white
				.layout-column.layout-column--general data-role="column"
					.block.bg-dull
						h1 Свадьбы
						p style="font-size: 16px;" Многим молодым нижегородцам вскоре предстоит первое большое событие в их жизни - свадьба. А значит, именно сейчас будущие новобрачные заняты решением множества вопросов: где провести свадебный банкет, как разместить друзей и родственников, кто поможет провести торжество... Вне всяких сомнений, вам хочется, чтобы этот день удался и оставил самые счастливые воспоминания у вас и ваших близких. Остановите свой выбор на Спортивном клубе «Хабарское» - и Ваша мечта станет реальностью!

						h2 СК «Хабарское» предлагает вам:
						div style="overflow: hidden; padding: 10px 0;"
							.g-flLeft style="width: 30%"
								span.i-o1.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Банкет в  ресторане с панорамным видом на р. Ока или в стильном кафе
							.g-flLeft style="width: 30%; margin: 0 3%"
								span.i-o2.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Отличная домашняя кухня изумительный вид блюд
							.g-flLeft style="width: 30%"
								span.i-o3.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Отличная домашняя кухня изумительный вид блюд
						div style="overflow: hidden; padding: 10px 0;"
							.g-flLeft style="width: 30%"
								span.i-o4.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Проведение (в летнее время) выездной регистрации брака
							.g-flLeft style="width: 30%; margin: 0 3%"
								span.i-o5.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Близость к городу — всего 45 минут пути по трассе
							.g-flLeft style="width: 30%"
								span.i-o6.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Возможность организации великолепной фотосессии
						div style="overflow: hidden; padding: 10px 0;"
							.g-flLeft style="width: 30%"
								span.i-o7.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" «Прозрачная» система расчетов, индивидуальные условия обслуживания
							.g-flLeft style="width: 30%; margin: 0 3%"
								span.i-o8.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Приятная гармония цены и качества услуг
							.g-flLeft style="width: 30%"
								span.i-o9.g-flLeft
								em style="padding: 5px 0 0 10px; overflow: hidden; display: block" Лучший номер гостиницы – в подарок молодоженам!

						.sep.sep--xxl

						.switcher.switcher--sm
							span.plink.switcher-item data-role="switchBlock" data-targets="a" data-target="a1": u Свадебный<br>банкет
							span.plink.switcher-item data-role="switchBlock" data-targets="a" data-target="a2": u Выездная<br>регистрация
							span.plink.switcher-item data-role="switchBlock" data-targets="a" data-target="a3": u Резмещение<br>в гостинице
							span.plink.switcher-item data-role="switchBlock" data-targets="a" data-target="a4": u Второй день<br>свадьбы
							span.plink.switcher-item.is-active data-role="switchBlock" data-targets="a" data-target="a5": u Декораторские,<br>спортивные услуги
						.sep.sep--xl
						.switchBlock data-role="a a1"
							h2 1
						.switchBlock data-role="a a2"
							h2 2
						.switchBlock data-role="a a3"
							h2 3
						.switchBlock data-role="a a4"
							h2 4
						.switchBlock.is-visible data-role="a a5"
							h2 Декораторские, спортивные и иные услуги
							table style="width: 100%"
								tr
									td width="60%"
										h4 Услуги декоратора по оформлению зала ресторана / зала кафе  – СК «Хабарское» не предоставляет
										p style="font-size: 14px;" По сложившейся традиции заказчик свадебного торжества находит подрядчика самостоятельно. Оформление возможно только в день проведения свадебного торжества (с 11:00).
										.sep
										h4 Услуги ведущего банкета, звукорежиссера (ди-джея)
										p style="font-size: 14px;" Аренда специального звукового и иного оборудования для проведения банкета оплачиваются силами заказчика
									td
										p В зале ресторана не разрешается разбрасывать лепестки цветов, каким-либо образом изменять имеющиеся стационарные детали интерьера (снимать занавески / жалюзи, прикреплять что‑либо к натяжному и (или) деревянному потолку, вбивать гвозди и пр.), использовать хлопушки.


								tr
									td
										h4 Проведение фейерверков
										p style="font-size: 14px;" Потенциально пожароопасные мероприятия должны быть в обязательном порядке согласованы с администрацией и проводиться строго в указанном администрацией месте.
										.sep
										h4 Услуги по организации мероприятий спортивно-развлекатель- ного характера
										p style="font-size: 14px;" Спортивные эстафеты с элементами тимбилдинга, сюжетные и экстремальные игры на территории СК «Хабарское» оказываются Event-агентством «X‑team» телефон: (831) 416‑15‑12, сайт: <a class="color-dark" href="#"><u>www.xteam-nn.ru</u></a>

									td
										СК «Хабарское» оставляет за собой право наложить запрет на проведение подобных мероприятий в связи с погодными условиями, получением соответствующих санкций из МЧС и т.д. Запуск «небесных фонариков» на территории СК «Хабарское» запрещен












					= include 'partials/footer.slim'

				.layout-column.layout-column--aside data-role="columnFixed" style="background: #E1E1E1"
					= include 'partials/aside-stocks.slim'

		= include 'partials/scripts.slim'


