doctype html
html lang="ru"
	= include 'partials/head.slim'
	body

		= include 'partials/modals.slim'
		= include 'partials/header.slim'


		.laytout
			.constrain
				.layout-column.layout-column--general data-role="column"
					.block.bg-dull
						h1 Зимний отдых
						.media.media--left
							.media-pic
								img src="assets/images/361-1.jpg"
							.media-text


								h3 Горные лыжи и сноуборд
								p Лыжи едут быстрее сноуборда. В скоростном спуске сноубордист совершенно однозначно проиграет горнолыжнику одного с ним уровня. Для сравнения: мировой рекорд скорости для сноуборда составляет 201 км/ч, а для горных лыж – 250 км/ч.
								h4 Утреннее катание с 9<sup>00</sup> до 11<sup>00</sup> — 600 / 300
								.sep.sep--s
								.g-flLeft style="45%"
									h4 10<sup>00</sup> — 18<sup>00</sup><br>дневное катание
									.sep.sep--xs
									table style="width: 100%"
										tbody
											tr
												td: strong 1 час
												td 600₽ / 300₽
											tr
												td: strong 2 часа
												td 800₽ / 400₽
											tr
												td: strong 3 часа
												td 1000₽ / 500₽
											tr
												td: strong 5 часов
												td 1200₽ / 600₽
								.g-flRight style="45%"
									h4 10<sup>00</sup> — 18<sup>00</sup><br>дневное катание
									.sep.sep--xs
									table style="width: 100%"
										tbody
											tr
												td: strong 1 час
												td 600₽ / 300₽
											tr
												td: strong 2 часа
												td 800₽ / 400₽
											tr
												td: strong 3 часа
												td 1000₽ / 500₽
											tr
												td: strong 5 часов
												td 1200₽ / 600₽


								.g-clear
						.sep.sep--figured
						.media.media--right
							.media-pic
								img src="assets/images/361-2.jpg"
							.media-text
								h3 Сноутюбинг
								p Сноутюбинг – это пластиковый кожух со вставленной в него камерой. Сноутюбинг предназначен для катания только по специально подготовленной  снежной трассе. Трассы для катания огорожены, имеют специальные выкаты с контруклонами и предназначены для катания только на сноутюбинге. Сноутюбинг неуправляем, а его скользящая поверхность позволяет развивать большую скорость.
						.sep.sep--figured
						.media.media--left
							.media-pic
								img src="assets/images/361-3.jpg"
							.media-text
								h3 Катание на хасках
								p Лыжи едут быстрее сноуборда. В скоростном спуске сноубордист совершенно однозначно проиграет горнолыжнику одного с ним уровня. Для сравнения: мировой рекорд скорости для сноуборда составляет 201 км/ч, а для горных лыж – 250 км/ч.
								p Хотя, сказать по совести, субъективные ощущения у горнолыжника на скорости, скажем, 100 км/ч и у сноубордиста на 70 км/ч будут весьма схожими.


						.sep.sep--figured
						.media.media--right
							.media-pic
								img src="assets/images/361-4.jpg"
							.media-text
								h3 Живая музыка в ресторане
								p Сноутюбинг – это пластиковый кожух со вставленной в него камерой. Сноутюбинг предназначен для катания только по специально подготовленной  снежной трассе. Трассы для катания огорожены, имеют специальные выкаты с контруклонами и предназначены для катания только на сноутюбинге. Сноутюбинг неуправляем, а его скользящая поверхность позволяет развивать большую скорость.


						.sep.sep--figured
						.media.media--left
							.media-pic
								img src="assets/images/361-5.jpg"
							.media-text
								h3 Каминный зал с настольными играми
								p Лыжи едут быстрее сноуборда. В скоростном спуске сноубордист совершенно однозначно проиграет горнолыжнику одного с ним уровня. Для сравнения: мировой рекорд скорости для сноуборда составляет 201 км/ч, а для горных лыж – 250 км/ч.
								p Хотя, сказать по совести, субъективные ощущения у горнолыжника на скорости, скажем, 100 км/ч и у сноубордиста на 70 км/ч будут весьма схожими.


						.sep.sep--figured
						.media.media--right
							.media-pic
								img src="assets/images/361-6.jpg"
							.media-text
								h3 Сауна
								p Сноутюбинг – это пластиковый кожух со вставленной в него камерой. Сноутюбинг предназначен для катания только по специально подготовленной  снежной трассе. Трассы для катания огорожены, имеют специальные выкаты с контруклонами и предназначены для катания только на сноутюбинге. Сноутюбинг неуправляем, а его скользящая поверхность позволяет развивать большую скорость.


						.sep.sep--figured
						.media.media--left
							.media-pic
								img src="assets/images/361-7.jpg"
							.media-text
								h3 Катание на снегоходах
								p По прибытию к оговоренному времени на базу Вы пройдете необходимый инструктаж и обучение основам управления снегоходом Yamaha Viking. Затем Вас познакомят с особенностями предстоящего маршрута и выдадут снаряжение. Катание на снегоходе начнется на небольшой скорости, чтобы Вы привыкли к незнакомой технике, ее возможностям, освоились. В дальнейшем, по мере появления уверенности, скорость движения и сложность трассы будут возрастать, чтобы можно было получить максимальное удовольствие от веселого драйва, свиста ветра при прохождении скоростных участков.
								p Группу обязательно сопровождает опытный инструктор, имеющий опыт работы на маршруте. Он указывает направление движения, обучает прохождению наиболее сложных участков и следит за безопасностью движения.



					= include 'partials/footer.slim'

				.layout-column.layout-column--aside data-role="columnFixed" style="background: #E1E1E1"
					= include 'partials/archive.slim'


				div style="clear: both"

		= include 'partials/scripts.slim'


