*, *:after, *:before
	margin: 0
	padding: 0
	box-sizing: border-box
a, input, textarea, button
	&:focus
		outline: none
p, blockquote, ul, ol
	margin: 0 0 unit($font.height + 0.2, em)
p + ul
	margin-top: -(unit($font.height + 0.3, em))
	// background: pink


.g-flLeft
	float: left
.g-flRight
	float: right
.g-taLeft
	text-align: left
.g-taRight
	text-align: right
.g-taCenter
	text-align: center
.g-clear
	clearfix()


sup
	font-size: 10px

body
	color: $color.text
	background-color: #212121
	font: $font.style $font.weight $font.size/$font.height $font.family
	padding-top: 90px

a, .plink
	text-decoration: none
	cursor: pointer
	u
		text-decoration: none
		border-bottom: 1px solid
		line-height: 1
	linkColor($color.blue)
.plink u
	border-bottom-style: dotted

hr
	height: 1px
	background: #B8B8B8
	margin: 25px 0 20px
	border: none
	display: block




.mark
	background: $color.yellow
	padding: 5px 0




