path($name, $ext = 'png')
	return '../../sources/images/' + $name + '.' + $ext

icon($name, $ext = 'png')
	$path = path($name, $ext)
	$size = image-size($path)
	.i-{$name}
		display: inline-block
		background-repeat: no-repeat
		background-position: 50% 50%
		background-image: inline($path)
		{block}
		width: $size[0] unless @width
		height: $size[1] unless @height

icon('xdesign')
icon('winter')
icon('summer')
icon('arrowBlueNext')
icon('arrowBluePrev')
icon('arrowGrayNext')
icon('arrowGrayPrev')
icon('arrowLargeBlueNext')
icon('arrowLargeBluePrev')
icon('arrowLargeGrayNext')
icon('arrowLargeGrayPrev')
icon('arrowDown')
icon('arrowUp')
icon('chum')
icon('closeSmall')
icon('closeSmallDark')
icon('closeSmallGray')
icon('closeWhite')
icon('flag')
icon('menu')
icon('check')
icon('rotate')
icon('webcam')
icon('weather')
icon('pdfWhite')
icon('pdfDark')
icon('docWhite')
icon('docDark')
icon('fis')
icon('zoomIn')
icon('zoomOut')
icon('kids')
icon('phone')
icon('passport')
icon('smoke')
icon('award1')
icon('award2')
icon('cal')
icon('clock')
icon('kidshead')
icon('snow')
icon('angle')
icon('o1')
icon('o2')
icon('o3')
icon('o4')
icon('o5')
icon('o6')
icon('o7')
icon('o8')
icon('o9')